@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

:root {
  --purple-gradient: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0, 0.8)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  overflow-x: hidden;
}

.logo img {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

#home {
  margin-top: 6rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

/* .home-content {
font-size: 2rem;
}

.home-content span{
font-size: 1.2rem;



} */

.home-icons {
  background-color: rgb(136, 0, 255);
  margin-top: 1.6rem;
  padding: 0.8rem 1.8rem;
  width: max-content;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.home-icons img {
  width: max-content;
  z-index: 3;
}
.home img {
  pointer-events: none;
}

.home-icons:hover {
}

.home-icons::after {
  content: "";
  width: 34px;
  height: 35px;
  border-radius: 5.9rem;

  position: absolute;
  background-color: transparent;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
.home-icons:hover::after {
  background-color: black;
}

/* SECTION-TITLE */

.section-title {
  font-size: 32px;
  text-align: center;
  margin: 10.2rem auto 2rem auto;

  width: max-content;
}

.section-title-main {
  background-color: purple;
  color: white;
  border-top-left-radius: 1rem;
  width: max-content;
  padding: 0.4rem;
  display: inline;
}

.section-title-sub {
  color: blueviolet;
  position: relative;
}

.section-title-sub::after {
  content: "";
  background-color: red;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 0.6rem;
  position: absolute;
  bottom: -1rem;
  animation: 1s ease-in-out infinite alternate-reverse squareShadow;
}

/* PROJECTS */
.projects-content {
  display: grid;
}

.project-content-card {
  width: 82%;
  margin: 1.2rem auto;

  border-radius: 2rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.062);
}

.project-content-card img {
  width: 60%;
  margin: 1.2rem auto;
  display: block;
}

.project-content-card a img {
  width: 1.8rem;
}

.project-card-info {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.project-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 0 0.4rem;
  border-bottom: 2px solid rgb(119, 0, 255);
  width: 100%;

  padding-right: 1.6rem;
}

.project-link {
  margin-right: 0.8rem;
  width: 50%;
}

.project-link img {
  width: max-content;
  margin-right: 3rem;
  transition: 0.1s ease-in;
  transition-duration: 0.2s;
  margin: auto auto;
}

.project-link img:hover {
  transform: rotate(360deg);
}

.project-description {
  text-align: justify;
  color: rgba(105, 103, 103, 0.845);
  font-size: 1.2rem;
  width: 94%;
  margin: 0 auto;
}

.technologies-title {
  display: block;
  width: max-content;
  height: max-content;
  margin: 0;
  color: rgb(84, 7, 84);
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid orange;
  padding: 0 4rem 0 0.5rem;
}

.project-technologies {
  width: 98%;
  height: max-content;
  margin: 0.6rem auto;
}

.technologies-used-icons {
  margin: 0.8rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  gap: 0.9rem;
  width: 100%;
}

.technologies-used-icons img:hover {
  scale: 1.6;
  cursor: pointer;
}

.technologies-used-icons img {
  transition: 0.2s;

  margin: 0;
  height: 2rem;
  width: 2rem;
}

@keyframes squareShadow {
  from {
    box-shadow: 0px 0px 10px rgb(250, 250, 250);
  }

  to {
    box-shadow: 30px 25px 15px red;
  }
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: white;
  
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: purple;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  transform: translateX(100%);
  z-index: 6;
}

.menu.active {
  transform: translateX(0);
}

.menu-link {
  transition: 0.1s ease-in-out;
}

.menu-link:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.burger {
  height: 3.4rem;
  width: 3.4rem;
  margin: 1.2rem 0.9rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: transparent;
  border: none;
  align-items: flex-end;
  cursor: pointer;
}

.burger.active {
  z-index: 10;
}

.burger.active > span {
  background: white;
}

.burger span {
  width: 100%;
  height: 0.4rem;
  background-color: black;
  border-radius: 8.5rem;
  transition: all ease-in-out 0.3s;
}

.burger span:nth-child(2) {
  width: 80%;
}

.burger span:nth-child(3) {
  width: 60%;
}

.burger.active > span:nth-child(1) {
  transform: rotate(-45deg) translateY(0.9rem);
}

.burger.active > span:nth-child(2) {
  transform: rotate(45deg) translateY(-0.6rem);
}

.burger.active > span:nth-child(3) {
  transform: translateX(200%);
}

/* About Me */
.description {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.6rem;
  width: 85%;
  margin: 3rem auto;
}

.about .section-title {
  margin: 4rem auto 1.6rem auto;
}

.about img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.about-section-title-sub {
  color: blueviolet;
  position: relative;
}

.about-section-title-sub::after {
  content: "?";
  font-size: 6rem;
  width: 20px;
  height: 20px;
  color: red;
  border-bottom-right-radius: 0.6rem;
  position: absolute;
  top: -3.5rem;
  right: -2rem;
  animation: 1.4s ease-in-out infinite alternate-reverse questionMark;
}
@keyframes questionMark {
  form {
    color: red;
  }
  to {
    color: white;
  }
}

@media only screen and (width<=300px) {
  .home-content {
    width: 70%;
    display: flex;
  }

  .project-technologies p {
    padding: 0.4rem;
  }
}

/*  1000px Deskop menu */

@media only screen and (min-width: 1000px) {
  .section-title {
    margin: 9.5rem auto 4rem auto;

    width: max-content;
  }
  .technologies-used-icons {
    margin: 0.8rem 0rem;
    width: 40%;
  }

  .technologies-title {
    padding: 0 4rem 0 0.5rem;
  }

  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-content-card img {
    width: 80%;
  }

  .project-content-card a img {
    width: 20%;
  }
  .home .home-img {
    width: 40%;
  }

  .burger {
    display: none;
  }

  .menu {
    background: inherit;
    color: black;
    margin: 0 1rem 0 0;
    list-style: none;
    align-items: center;
    height: inherit;
    width: max-content;
    gap: 5rem;
    font-size: 1.2rem;
    font-weight: normal;
    position: unset;
    flex-direction: row;
    transform: translateX(0);
  }

  .menu-link {
    position: relative;
    cursor: pointer;
  }
  .menu-link::after {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    border-radius: 2rem;
    transition: all ease-in-out 0.3s;
    transform: translateX(0);
  }

  .menu-link:hover::after {
    width: 100%;
  }

  .menu-link:last-child {
    background: purple;
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
    color: white;
  }

  .menu-link:last-child:after {
    display: none;
  }
}

/* Section */
.home {
  margin: 4rem 0 0 0;
}

.projects-content {
  width: 90%;
  margin: 0 auto;
}

.home-content h1 {
  font-size: 3.2rem;
}

.home-content span {
  font-size: 1.4rem;
}

.home-img {
  width: 40%;
  margin: 0 auto;
  display: block;
}

/* .home-icons{
background-color: rgb(71, 22, 78);
margin: 1rem auto;
width: max-content;
padding: .3rem 1rem;
border-radius: .5rem;
} */

.scroll-down-button {
  width: 1.5rem;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  margin: 1.5rem auto;
  background: none;
  border: 1px solid black;
  border-radius: 1rem;
  z-index: 1;
}

.scroll-down-circle {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: rgb(71, 22, 78);
  animation: circleMovement 1s infinite alternate-reverse;
}

.about {
  margin-top: 11rem;
}

.about img {
  width: 55%;
  margin-top: 3.2rem;
}

@keyframes circleMovement {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

/*------------------ 1200px ----------------*/
@media only screen and (width>= 1200px) {
  .technologies-used-icons {
    margin: 0.8rem 0;
    width: 50%;
  }

  .section-title {
    margin-top: 11rem;
  }
  .technologies-title {
    padding: 0 4rem 0 0.5rem;
  }

  .home .home-img {
    width: 50%;
    order: 2;
    margin: 0;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width: 90%;
    margin: 8rem auto;
  }

  .home-content h1 {
    font-size: 4rem;
  }

  .home-content span {
    font-size: 1.4rem;
  }

  .home .home-content {
    margin-left: 2.2rem;
    width: 50%;
  }

  .project-content-card {
    width: 80%;
  }

  .project-content-card img {
    width: 65%;
  }

  .scroll-down-button {
    display: none;
  }

  .about img {
    width: 50%;
    margin-top: 3.2rem;
  }
}

@media only screen and (min-width: 1350px) {
  .about-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
  }

  .description {
    width: 50%;
  }
}

/*-------------------- 1400 px ----------*/

@media only screen and (min-width: 1400px) {
  .section-title {
    margin: 11.4rem auto 5rem auto;
  }

  .projects-content {
    grid-template-columns: repeat(4, 1fr);

    width: 88%;
    margin: 0 auto;
    gap: 2rem;
  }

  .project-content-card {
    width: 90%;
  }

  .project-content-card img {
    width: 80%;
  }

  .project-content-card a img {
    width: 40%;
  }
  .scroll-down-button {
    display: none;
  }

  .home {
    gap: 8.8rem;
  }

  .home-content {
    margin-bottom: 7rem;
  }

  .home .home-content h1 {
    font-size: 4rem;
  }

  .home .home-content span {
    font-size: 1.4rem;
  }

  .home .home-img {
    width: 45%;
  }

  .about img {
    width: 40%;
    margin-top: 3.2rem;
  }

  .about {
    margin-top: 11.5rem;
  }
}

@media only screen and (min-width: 1650px) {
  .section-title {
    margin-top: 8rem;
  }

  .home {
    gap: 13rem;
    margin: 5rem auto;

    display: flex;
  }

  .home .home-content {
    margin: 0px auto;
  }

  .home .home-content h1 {
    font-size: 3.5rem;
  }
  .home .home-content span {
    font-size: 1.4rem;
  }

  .project-content-card {
    width: 85%;
    padding: 2rem 0 0 0;
  }

  .project-content-card {
    width: 80%;
  }

  .about .section-title {
    margin: 12.5rem auto 1.6rem auto;
  }

  .about img {
    width: 40%;
    margin-top: 3.2rem;
  }

  .about-content {
    width: 85%;
    margin: 0 auto;
    display: flex;
  }

  .description {
    width: 50%;
    margin-top: 6rem;
  }
}
