* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  overflow-x: hidden;
}

.logo img {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: purple;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  transform: translateX(100%);
}

.menu.active {
  transform: translateX(0);
}

.burger {
  height: 3.4rem;
  width: 3.4rem;
  margin: 1.2rem 0.9rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: transparent;
  border: none;
  align-items: flex-end;
  cursor: pointer;
  
}

.burger.active{
    z-index: 10;
   
}


.burger.active > span{
    background: white;
}

.burger span {
  width: 100%;
  height: 0.4rem;
  background-color: black;
  border-radius: 8.5rem;
  transition: all ease-in-out 0.3s;
}

.burger span:nth-child(2){
    width: 80%;
} 

.burger span:nth-child(3){
    width: 60%;
} 

.burger.active >span:nth-child(1){
    transform: rotate(-45deg)translateY(0.9rem)
}


.burger.active >span:nth-child(2){

    transform: rotate(45deg) translateY(-0.6rem)
}

.burger.active >span:nth-child(3){
transform: translateX(200%);
}


/* Deskop menu */

@media only screen and (min-width:1000px){


.burger{
  display: none;
}
  .menu{
    
    background: inherit;
    color: black;
    list-style: none;
   
align-items: center;
    height: inherit;
    width: max-content;
    gap:5rem;
    font-size: 1.2rem;
    font-weight: normal;
  position: unset;
   flex-direction: row;
   transform: translateX(0);
    
  }



  .menu-link{
    position: relative;
    cursor: pointer;
  
  }
  .menu-link::after{
    content: '';
    width: 0;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    border-radius: 2rem;
    transition: all ease-in-out 0.3s;
    transform:translateX(0)
    
    
  }
  .menu-link:hover::after{
    width: 100%;
  }

  .menu-link:last-child{
    background:purple;
    padding: .6rem 1.5rem;
    border-radius: 1rem;
    color: white;
  }

  .menu-link:last-child:after{
   display: none;
}
}

/* Section */

.home-content{
  font-size: 2.2rem;
  text-align: center;
  color: rgb(56, 3, 56);
}

.home-content span{
  font-size: 1.4rem;
}


.home-img{
  width: 40%;
  margin: 0 auto;
  display: block;
}